IamSigner automation n8n Phase 1 inProgress.json
{
  "name": "IamSigner automation n8n Phase 1 inProgress",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-demo.iamsigner.com/v1.0/api/CreateSignActivityVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  Status: 'Auto-signed via chat',\n  Message: $json.signatoryName + ' auto-signed ' + $json.docName + ' via n8n chat assistant'\n}) }}",
        "options": {}
      },
      "id": "51ad8e7b-1998-4b86-a106-f3a11d3e6443",
      "name": "Log Auto-Sign Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 640]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst payloadData = $('Build Auto-Sign Payload').item.json;\n\nif (apiResponse.successStatus || apiResponse.statusCode === '1') {\n  console.log('Document auto-signed successfully');\n  \n  return {\n    json: {\n      success: true,\n      output: `🎉 **Document Signed Automatically!**\\n\\n✅ I've successfully signed **${payloadData.docName}** on your behalf\\n📧 Confirmation email sent\\n📄 ${payloadData.requestBodies.length} signature field(s) completed\\n✍️ Used your saved signature\\n\\nThe document has been completed and sent to all parties. Thank you for using IAmSigner!`,\n      signAuth: payloadData.signAuth,\n      signatoryName: payloadData.signatoryName,\n      docName: payloadData.docName,\n      registerSignID: payloadData.registerSignID\n    }\n  };\n} else {\n  console.log('Auto-signing failed:', apiResponse.statusMessage);\n  \n  return {\n    json: {\n      success: false,\n      output: `❌ **Auto-Signing Failed**\\n\\nError: ${apiResponse.statusMessage || 'Unknown error occurred'}\\n\\n⚠️ Possible causes:\\n- Signature image too large\\n- Invalid session (link expired)\\n- Document already signed\\n- No saved signature found\\n\\nPlease try uploading your signature or contact support.`\n    }\n  };\n}"
      },
      "id": "1c2a0f65-165a-40f0-85b3-f67543c540fb",
      "name": "Format Auto-Sign Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1904, 784]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api-demo.iamsigner.com/v1.0/api/UpdateControlLocationSignature",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBodies }}",
        "options": {}
      },
      "id": "f65af366-427c-459e-9dc7-c7e8508be3c3",
      "name": "Execute Auto-Sign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 832]
    },
    {
      "parameters": {
        "jsCode": "const signatureData = $input.item.json;\n\nif (signatureData.error) {\n  return { json: signatureData };\n}\n\nconst context = signatureData.documentContext;\nconst signature = signatureData.signatureBase64;\n\n// Build array of signature objects for ALL pending controls\nconst requestBodies = context.controlsToSign.map(control => ({\n  ControlLocationID: control.controlLocationID,\n  MasterDocID: context.masterDocID,\n  RegisterSignID: context.registerSignID,\n  SignatoriesID: context.signatoryID,\n  ModifiedBy: context.signatoryEmail,\n  IsSignature: true,\n  IsInitial: false,\n  IsStamp: false,\n  IsImage: false,\n  IsRequired: true,\n  IsRadioButton: false,\n  IsCheckBox: false,\n  IsDigitalSignature: false,\n  Signature: signature,\n  SignatureExtention: '.png',\n  IsSignatureSaved: false\n}));\n\nconsole.log('Built signature payload for', requestBodies.length, 'controls');\n\nreturn { \n  json: { \n    requestBodies: requestBodies, \n    signAuth: context.signAuth,\n    signatoryName: context.signatoryName,\n    docName: context.docName,\n    registerSignID: context.registerSignID\n  } \n};"
      },
      "id": "4058ffcf-fb22-45c2-aec1-99aa10c52d1d",
      "name": "Build Auto-Sign Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1456, 784]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst contextData = $('Retrieve Context from Memory').item.json;\n\nif (!apiResponse.response || !apiResponse.response.mySignatureBase64String) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **No Saved Signature Found**\\n\\nPlease upload your signature in the IAmSigner platform first. You can do this by:\\n1. Logging into IAmSigner\\n2. Going to Profile Settings\\n3. Uploading your signature\\n\\nAlternatively, you can upload an image signature to this chat.'\n    }\n  };\n}\n\nconst savedSignature = apiResponse.response.mySignatureBase64String;\n\nreturn {\n  json: {\n    signatureBase64: savedSignature,\n    documentContext: contextData.documentContext,\n    extension: '.png'\n  }\n};"
      },
      "id": "ff714c4e-da93-4f8b-a9f8-fe1d09d4f2a0",
      "name": "Validate Saved Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 784]
    },
    {
      "parameters": {
        "url": "https://api-demo.iamsigner.com/v1.0/api/GetSignatureStampVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.documentContext.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f1a580f-838a-4dbb-bca6-c2e0692e9a8a",
      "name": "Get Saved Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1024, 784]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve stored context from workflow static data\nconst staticData = $getWorkflowStaticData('global');\n\n// Get the latest context key\nconst latestKey = staticData['latest_context'];\n\nif (!latestKey) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **No Document Context Found**\\n\\nPlease share the signing link first before asking me to sign.'\n    }\n  };\n}\n\n// Get the context data and parse it from JSON string\nconst contextDataString = staticData[latestKey];\n\nif (!contextDataString) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **Session Expired**\\n\\nThe document context has expired. Please share the signing link again.'\n    }\n  };\n}\n\nlet contextData;\ntry {\n  contextData = JSON.parse(contextDataString);\n} catch (e) {\n  console.error('Failed to parse context data:', e.message);\n  staticData[latestKey] = '';\n  staticData['latest_context'] = '';\n  return {\n    json: {\n      error: true,\n      output: '❌ **Context Data Corrupted**\\n\\nThe stored context could not be retrieved. Please share the signing link again.'\n    }\n  };\n}\n\n// Check if expired\nif (contextData.expiresAt && new Date(contextData.expiresAt) < new Date()) {\n  staticData[latestKey] = '';\n  staticData['latest_context'] = '';\n  return {\n    json: {\n      error: true,\n      output: '❌ **Session Expired**\\n\\nThe document context has expired (1 hour limit). Please share the signing link again.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    documentContext: contextData,\n    hasContext: true\n  }\n};"
      },
      "id": "a165faa9-1885-4a48-9c8b-eaba185444f4",
      "name": "Retrieve Context from Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 784]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.isSigningRequest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71695d49-9a75-495d-805c-2e6139022651",
      "name": "IF Signing Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [352, 800]
    },
    {
      "parameters": {
        "jsCode": "// Store context in workflow static data with unique key\nconst data = $input.item.json;\nconst context = data.documentContext;\n\n// Use workflow static data (persists across executions)\nconst staticData = $getWorkflowStaticData('global');\n\n// Replace hyphens with underscores for key compatibility\nconst sanitizedRegisterID = context.registerSignID.replace(/-/g, '_');\nconst contextKey = `ctx_${sanitizedRegisterID}`;\n\n// Store the context with timestamp as a JSON string\nconst contextWithMetadata = {\n  ...context,\n  storedAt: new Date().toISOString(),\n  expiresAt: new Date(Date.now() + 3600000).toISOString() // 1 hour expiry\n};\n\nstaticData[contextKey] = JSON.stringify(contextWithMetadata);\nstaticData['latest_context'] = contextKey;\n\nconsole.log('Context stored with key:', contextKey);\n\nreturn {\n  json: {\n    output: data.output,\n    contextStored: true,\n    contextKey: contextKey\n  }\n};"
      },
      "id": "33718e40-f0cd-4a3b-a644-458204629255",
      "name": "Store Context in Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2784, 96]
    },
    {
      "parameters": {
        "jsCode": "// Format verification response with document details\nconst context = $('Build Complete Context').item.json;\nconst aiSummary = $input.item.json.output;\n\nconst formattedResponse = `\n✅ **Document Verified Successfully!**\n\n${aiSummary}\n\n📋 **Quick Details:**\n- 📄 Document: ${context.docName}\n- 📊 Pages: ${context.totalPages}\n- ✍️ Signer: ${context.signatoryName}\n- 🎯 Signature Fields: ${context.controlsToSign.length}\n\n**What would you like to do?**\n- Type \"sign this\" or \"please sign\" to proceed with automatic signing\n- Ask any questions about the document\n- I can sign this document for you using your saved signature\n`;\n\nreturn {\n  json: {\n    output: formattedResponse,\n    documentContext: context,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "448d9351-a92f-4c57-8565-291d9dd3dcf1",
      "name": "Format Verification Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2576, 96]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-80, 992],
      "id": "e3c6fa30-f226-4d31-be46-60f33de5dc5b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// This is for signing links - prepare for verification\nconst data = $('Process AI Response').item.json;\nreturn { \n  json: { \n    output: `${data.aiResponse}\\n\\n🔍 **I see you've provided a signing link!** Let me verify this document and provide you with a summary...`,\n    originalMessage: data.originalMessage,\n    isSigningLink: true,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "817e602c-385f-4ff8-9f51-589611e7caf8",
      "name": "Prepare Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 96]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.isSigningLink }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "eecac7bd-b2e9-4d52-9eb8-878b5a603e73",
      "name": "IF Signing Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [368, 480]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2288, 368],
      "id": "cfb6f375-76c0-4c4b-96a9-344ac4ae0f47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "muEYnjTB5ZYCmtYm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this document signing request and provide a brief summary:\n\n📄 **Document:** {{ $json.docName }}\n📊 **Total Pages:** {{ $json.totalPages }}\n✍️ **Signer:** {{ $json.signatoryName }} ({{ $json.signatoryEmail }})\n🎯 **Signature Fields:** {{ $json.controlsToSign.length }}\n\nPlease provide:\n1. A brief summary of what this document appears to be based on its name\n2. Key information about the signing requirements\n3. Any notable details about the document structure\n\nKeep it concise (2-3 sentences) and professional.",
        "options": {}
      },
      "id": "1b32a2c9-6845-458b-91b1-28ae8bada79d",
      "name": "AI Document Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [2288, 96]
    },
    {
      "parameters": {
        "jsCode": "const controlsData = $input.item.json.response;\nconst prev = $('Store Pages Data').item.json;\n\nif (!controlsData || !Array.isArray(controlsData)) {\n  throw new Error('Controls data missing');\n}\n\nconst pendingSignatory = prev.registerData.signatories?.find(s => s.signStatus === 'Pending');\nif (!pendingSignatory) {\n  throw new Error('No pending signer found');\n}\n\nconst pendingControls = controlsData.filter(c => \n  c.email === pendingSignatory.email && \n  c.controlStatus === 'Pending' &&\n  c.isSignature\n);\n\nif (!pendingControls.length) {\n  throw new Error('No pending signature controls found');\n}\n\nconst documentContext = { \n  signAuth: prev.signAuth, \n  registerSignID: prev.registerData.registerSignID, \n  masterDocID: prev.registerData.primaryDocs[0].masterDocID, \n  docName: prev.registerData.primaryDocs[0].docName, \n  docPath: prev.registerData.primaryDocs[0].docPath, \n  totalPages: prev.pages.length, \n  signatoryID: pendingSignatory.signatoriesID, \n  signatoryName: pendingSignatory.name, \n  signatoryEmail: pendingSignatory.email, \n  signatureColor: pendingSignatory.signatureColor, \n  controlsToSign: pendingControls.map(c => ({\n    controlLocationID: c.controlLocationID, \n    pageNumber: c.pagesOrder, \n    pageName: c.pagesName, \n    positionX: c.controlLocationX, \n    positionY: c.controlLocationY, \n    width: c.width, \n    height: c.height \n  })), \n  pages: prev.pages.map(p => ({\n    pageID: p.masterDocPagesID, \n    pageName: p.pagesName, \n    pageOrder: p.pagesOrder, \n    pagePath: p.pagesPath \n  })), \n  initiatorEmail: prev.registerData.createdBy, \n  initiatorName: prev.registerData.createdByName \n};\n\nconsole.log('Document context built successfully');\nreturn { json: documentContext };"
      },
      "id": "b4f43e06-3c74-44e5-a113-c9aa07dd3cf9",
      "name": "Build Complete Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 96]
    },
    {
      "parameters": {
        "url": "=https://api-demo.iamsigner.com/v1.0/api/GetControlLocationVerification?MasterDocID={{ $json.masterDocID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f94db6f-2a0b-4e23-98c6-14819f69cb8f",
      "name": "Get Control Locations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1872, 96]
    },
    {
      "parameters": {
        "jsCode": "const pagesData = $input.item.json.response;\nconst prev = $('Store Register Data').item.json;\n\nif (!pagesData || !Array.isArray(pagesData)) {\n  throw new Error('Pages data missing or invalid');\n}\n\nconsole.log('Pages data retrieved:', pagesData.length, 'pages');\nreturn { \n  json: { \n    ...prev, \n    pages: pagesData \n  } \n};"
      },
      "id": "9a0b3c23-dfcb-4a22-8f4e-e6d16875657d",
      "name": "Store Pages Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 96]
    },
    {
      "parameters": {
        "url": "=https://api-demo.iamsigner.com/v1.0/api/GetMasterDocPagesVerification?MasterDocID={{ $json.masterDocID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef9bd952-3585-460e-a9bb-68afc3c07fcb",
      "name": "Get Document Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1456, 96]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst signAuth = $('Extract SignAuth from URL').item.json.signedDocKey;\nconst registerData = apiResponse.response || apiResponse;\n\nif (!registerData || !registerData.registerSignID || !registerData.primaryDocs?.length) {\n  throw new Error('Register data missing or incomplete');\n}\n\nconsole.log('Register data retrieved successfully');\nreturn { \n  json: { \n    signAuth, \n    registerData, \n    masterDocID: registerData.primaryDocs[0].masterDocID \n  } \n};"
      },
      "id": "bdad5537-8db8-4504-a2c9-e51aff5fd9cd",
      "name": "Store Register Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 96]
    },
    {
      "parameters": {
        "url": "https://api-demo.iamsigner.com/v1.0/api/GetRegisterSignDataVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signedDocKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebe359e4-12be-4ad3-8d4b-243e683514ec",
      "name": "Get Register Sign Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 96]
    },
    {
      "parameters": {
        "jsCode": "// Extract signedDocKey from the URL provided in chat\nconst decision = $('Prepare Verification').item.json;\n\nconst chatMessage = decision.originalMessage;\nconsole.log('Processing signing link:', chatMessage);\n\nconst urlPattern = /\\/SignNow\\/id\\/([^\\s\\/]+)/;\nconst match = chatMessage.match(urlPattern);\n\nif (!match || !match[1]) {\n  console.log('Invalid URL format');\n  throw new Error('Invalid URL format. Please provide a valid signing link.');\n}\n\nconst decodedKey = decodeURIComponent(match[1]);\nconsole.log('Extracted signedDocKey:', decodedKey);\n\nreturn { \n  json: { \n    signedDocKey: decodedKey, \n    originalUrl: chatMessage, \n    timestamp: new Date().toISOString(),\n    verificationStarted: true\n  } \n};"
      },
      "id": "a47523c9-e7d9-4b3a-8d89-1e23176e27aa",
      "name": "Extract SignAuth from URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [832, 96]
    },
    {
      "parameters": {
        "jsCode": "// Get data from the previous node (Process AI Response)\nconst data = $input.item.json;\n\n// If this is a signing link, don't output here - let the verification flow handle it\nif (data.isSigningLink) {\n  return {\n    json: {\n      skip: true\n    }\n  };\n}\n\n// For regular messages, output the AI response\nreturn { \n  json: { \n    output: data.aiResponse,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "cb67b8b5-3d55-4b72-a7aa-ad8a90ec35de",
      "name": "Format Regular Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 608]
    },
    {
      "parameters": {
        "jsCode": "const messageData = $('Route Message Type').item.json;\nconst aiResponse = $input.item.json.output || 'Thank you for your message about IAmSigner.';\n\nreturn { \n  json: { \n    aiResponse: aiResponse,\n    isSigningLink: messageData.isSigningLink,\n    isSigningRequest: messageData.isSigningRequest,\n    originalMessage: messageData.message,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "cf29e10a-1f2f-49e0-905c-02d0e3f0ed72",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 576]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b08200f2-9ccc-4a4d-aa4b-42b297db040a",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-176, 848],
      "credentials": {
        "googlePalmApi": {
          "id": "muEYnjTB5ZYCmtYm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an IAmSigner E-Signature Assistant. IAmSigner is a secure electronic signature platform for document management and signing workflows.\n\n**Key Capabilities I Can Help With:**\n- Document signing (self-sign, bulk send, templates)\n- Document management (folders, status tracking)\n- Team collaboration & delegation\n- Integrations (APIs, webhooks)\n- Account settings & profile management\n- **Automated signing on your behalf**\n\n**Quick Answers For:**\n- How to upload/sign documents\n- Bulk sending to multiple recipients\n- Creating and using templates\n- Managing teams and permissions\n- Document status explanations\n- API integration setup\n\n**How I Can Sign For You:**\nIf you share a signing link and ask me to sign it, I can automatically sign documents using your saved signature. Just say:\n- \"Sign this for me\"\n- \"Please sign this document\"\n- \"Auto-sign this\"\n\n**Current Query:** \"{{ $json.message }}\"\n\n**Response Style:**\n- Keep answers brief but helpful\n- Focus on practical steps\n- If user shares a signing link, verify it first\n- If user asks to sign, confirm you'll handle it automatically\n- Offer more details if user asks follow-up questions",
        "options": {}
      },
      "id": "ec4bb1f8-5bfb-40a6-bbfe-870214920439",
      "name": "IAmSigner Chat Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [-176, 576]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "signature_upload",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "signing_link",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4f2ac8d4-9909-4a0e-8880-3bd3b6ec4e3f",
      "name": "IF Signature Upload OR Signing Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [-176, 96]
    },
    {
      "parameters": {
        "jsCode": "const chatMessage = $input.item.json.chatInput || $input.item.json.input || '';\nconst files = $input.item.json.files || [];\n\n// Check if message contains a signing link\nconst urlPattern = /\\/SignNow\\/id\\/([^\\s\\/]+)/;\nconst isSigningLink = urlPattern.test(chatMessage);\n\n// Check for signature image upload\nconst hasSignatureImage = files.length > 0 && files[0].mimeType && files[0].mimeType.startsWith('image/');\n\n// Check for signing request keywords\nconst signingKeywords = ['sign this', 'sign it', 'sign document', 'sign for me', 'sign on behalf', 'please sign', 'auto sign'];\nconst isSigningRequest = signingKeywords.some(keyword => \n  chatMessage.toLowerCase().includes(keyword)\n);\n\n// Check for questions about IAmSigner\nconst iamSignerKeywords = ['iamsigner', 'signer', 'document', 'sign', 'esign', 'electronic signature', 'verify', 'how to', 'what is', 'help', 'feature', 'api'];\nconst isQuestion = iamSignerKeywords.some(keyword => \n  chatMessage.toLowerCase().includes(keyword)\n);\n\n// Check if it's a greeting\nconst greetings = ['hello', 'hi', 'hey', 'greetings'];\nconst isGreeting = greetings.some(greet => \n  chatMessage.toLowerCase().includes(greet)\n);\n\n// Determine message type priority: signing_request > signature_upload > signing_link > question\nlet messageType = 'question';\nif (hasSignatureImage) {\n  messageType = 'signature_upload';\n} else if (isSigningLink) {\n  messageType = 'signing_link';\n} else if (isSigningRequest) {\n  messageType = 'signing_request';\n}\n\nreturn { \n  json: { \n    message: chatMessage,\n    files: files,\n    messageType: messageType,\n    isSigningLink: isSigningLink,\n    hasSignatureImage: hasSignatureImage,\n    isQuestion: isQuestion,\n    isGreeting: isGreeting,\n    isSigningRequest: isSigningRequest,\n    requiresResponse: true,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "ae45f6ae-738b-4089-91ed-f1027d2f323f",
      "name": "Route Message Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-368, 96]
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "id": "0d452d51-cb7b-4834-87cf-71d897c9ccc8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-576, 96],
      "webhookId": "iamsigner-chat-trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Auto-Sign": {
      "main": [
        [
          {
            "node": "Format Auto-Sign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auto-Sign Payload": {
      "main": [
        [
          {
            "node": "Execute Auto-Sign",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Auto-Sign Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Saved Signature": {
      "main": [
        [
          {
            "node": "Build Auto-Sign Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Signature": {
      "main": [
        [
          {
            "node": "Validate Saved Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Context from Memory": {
      "main": [
        [
          {
            "node": "Get Saved Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signing Request?": {
      "main": [
        [
          {
            "node": "Retrieve Context from Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Regular Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Verification Response": {
      "main": [
        [
          {
            "node": "Store Context in Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Verification": {
      "main": [
        [
          {
            "node": "Extract SignAuth from URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signing Link?": {
      "main": [
        [
          {
            "node": "Prepare Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Regular Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Document Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Summary": {
      "main": [
        [
          {
            "node": "Format Verification Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Complete Context": {
      "main": [
        [
          {
            "node": "AI Document Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Control Locations": {
      "main": [
        [
          {
            "node": "Build Complete Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Pages Data": {
      "main": [
        [
          {
            "node": "Get Control Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Pages": {
      "main": [
        [
          {
            "node": "Store Pages Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Register Data": {
      "main": [
        [
          {
            "node": "Get Document Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Register Sign Data": {
      "main": [
        [
          {
            "node": "Store Register Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SignAuth from URL": {
      "main": [
        [
          {
            "node": "Get Register Sign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "IF Signing Request?",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Signing Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IAmSigner Chat Agent": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signature Upload OR Signing Link?": {
      "main": [
        [
          {
            "node": "Prepare Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "IF Signature Upload OR Signing Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Context in Memory": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b61caac-0a30-45ef-b033-69b1422f4aed",
  "meta": {
    "instanceId": "1f3caa2acdb96364fa92196d2d0d7e9b4abf252f790f9b5b20603c776b614989"
  },
  "id": "gT6mJYQ8PkaoGOsK",
  "tags": []
}
