IamSigner automation n8n Phase 1 Completed.json
{
  "name": "IamSigner automation n8n Phase 1 Completed",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-demo.iamsigner.com/v1.0/api/CreateSignActivityVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  Status: 'Auto-signed via chat',\n  Message: $json.signatoryName + ' auto-signed ' + $json.docName + ' via n8n chat assistant'\n}) }}",
        "options": {}
      },
      "id": "28250246-f579-406c-9428-b0e12bbf912b",
      "name": "Log Auto-Sign Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 528]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst payloadData = $('Build Auto-Sign Payload').item.json;\n\nif (apiResponse.successStatus || apiResponse.statusCode === '1') {\n  console.log('Document auto-signed successfully');\n  \n  return {\n    json: {\n      success: true,\n      output: `🎉 **Document Signed Automatically!**\\n\\n✅ I've successfully signed **${payloadData.docName}** on your behalf\\n📧 Confirmation email sent\\n📄 ${payloadData.requestBodies.length} signature field(s) completed\\n✍️ Used your saved signature\\n\\nThe document has been completed and sent to all parties. Thank you for using IAmSigner!`,\n      signAuth: payloadData.signAuth,\n      signatoryName: payloadData.signatoryName,\n      docName: payloadData.docName,\n      registerSignID: payloadData.registerSignID\n    }\n  };\n} else {\n  console.log('Auto-signing failed:', apiResponse.statusMessage);\n  \n  return {\n    json: {\n      success: false,\n      output: `❌ **Auto-Signing Failed**\\n\\nError: ${apiResponse.statusMessage || 'Unknown error occurred'}\\n\\n⚠️ Possible causes:\\n- Signature image too large\\n- Invalid session (link expired)\\n- Document already signed\\n- No saved signature found\\n\\nPlease try uploading your signature or contact support.`\n    }\n  };\n}"
      },
      "id": "3241ee26-f635-4af6-80a9-c3860c5f8416",
      "name": "Format Auto-Sign Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 672]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api-demo.iamsigner.com/v1.0/api/UpdateControlLocationSignature",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBodies }}",
        "options": {}
      },
      "id": "2143b535-5807-4845-a243-5360cfe91f41",
      "name": "Execute Auto-Sign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 720]
    },
    {
      "parameters": {
        "jsCode": "const signatureData = $input.item.json;\n\nif (signatureData.error) {\n  return { json: signatureData };\n}\n\nconst context = signatureData.documentContext;\nconst signature = signatureData.signatureBase64;\n\n// Build array of signature objects for ALL pending controls\nconst requestBodies = context.controlsToSign.map(control => ({\n  ControlLocationID: control.controlLocationID,\n  MasterDocID: context.masterDocID,\n  RegisterSignID: context.registerSignID,\n  SignatoriesID: context.signatoryID,\n  ModifiedBy: context.signatoryEmail,\n  IsSignature: true,\n  IsInitial: false,\n  IsStamp: false,\n  IsImage: false,\n  IsRequired: true,\n  IsRadioButton: false,\n  IsCheckBox: false,\n  IsDigitalSignature: false,\n  Signature: signature,\n  SignatureExtention: '.png',\n  IsSignatureSaved: false\n}));\n\nconsole.log('Built signature payload for', requestBodies.length, 'controls');\n\nreturn { \n  json: { \n    requestBodies: requestBodies, \n    signAuth: context.signAuth,\n    signatoryName: context.signatoryName,\n    docName: context.docName,\n    registerSignID: context.registerSignID\n  } \n};"
      },
      "id": "c476f4f5-5da6-4510-8f05-24ff91b06859",
      "name": "Build Auto-Sign Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-672, 672]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst contextData = $('Retrieve Context from Memory').item.json;\n\nif (!apiResponse.response || !apiResponse.response.mySignatureBase64String) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **No Saved Signature Found**\\n\\nPlease upload your signature in the IAmSigner platform first. You can do this by:\\n1. Logging into IAmSigner\\n2. Going to Profile Settings\\n3. Uploading your signature\\n\\nAlternatively, you can upload an image signature to this chat.'\n    }\n  };\n}\n\nconst savedSignature = apiResponse.response.mySignatureBase64String;\n\nreturn {\n  json: {\n    signatureBase64: savedSignature,\n    documentContext: contextData.documentContext,\n    extension: '.png'\n  }\n};"
      },
      "id": "b8b1254a-cfc8-4c62-b19c-13a3f3a68f48",
      "name": "Validate Saved Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, 672]
    },
    {
      "parameters": {
        "url": "https://api-demo.iamsigner.com/v1.0/api/GetSignatureStampVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.documentContext.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11998e3e-d0d4-4a74-b668-048b51ce8882",
      "name": "Get Saved Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1104, 672]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve stored context from workflow static data\nconst staticData = $getWorkflowStaticData('global');\n\n// Get the latest context key\nconst latestKey = staticData['latest_context'];\n\nif (!latestKey) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **No Document Context Found**\\n\\nPlease share the signing link first before asking me to sign.'\n    }\n  };\n}\n\n// Get the context data and parse it from JSON string\nconst contextDataString = staticData[latestKey];\n\nif (!contextDataString) {\n  return {\n    json: {\n      error: true,\n      output: '❌ **Session Expired**\\n\\nThe document context has expired. Please share the signing link again.'\n    }\n  };\n}\n\nlet contextData;\ntry {\n  contextData = JSON.parse(contextDataString);\n} catch (e) {\n  console.error('Failed to parse context data:', e.message);\n  staticData[latestKey] = '';\n  staticData['latest_context'] = '';\n  return {\n    json: {\n      error: true,\n      output: '❌ **Context Data Corrupted**\\n\\nThe stored context could not be retrieved. Please share the signing link again.'\n    }\n  };\n}\n\n// Check if expired\nif (contextData.expiresAt && new Date(contextData.expiresAt) < new Date()) {\n  staticData[latestKey] = '';\n  staticData['latest_context'] = '';\n  return {\n    json: {\n      error: true,\n      output: '❌ **Session Expired**\\n\\nThe document context has expired (1 hour limit). Please share the signing link again.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    documentContext: contextData,\n    hasContext: true\n  }\n};"
      },
      "id": "a1c109ea-ca2b-4f96-a931-e3cfee221590",
      "name": "Retrieve Context from Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1360, 672]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.isSigningRequest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8513a14-e53f-4ca4-bb2c-d4b65fac5984",
      "name": "IF Signing Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [-1776, 688]
    },
    {
      "parameters": {
        "jsCode": "// Store context in workflow static data with unique key\nconst data = $input.item.json;\nconst context = data.documentContext;\n\n// Use workflow static data (persists across executions)\nconst staticData = $getWorkflowStaticData('global');\n\n// Replace hyphens with underscores for key compatibility\nconst sanitizedRegisterID = context.registerSignID.replace(/-/g, '_');\nconst contextKey = `ctx_${sanitizedRegisterID}`;\n\n// Store the context with timestamp as a JSON string\nconst contextWithMetadata = {\n  ...context,\n  storedAt: new Date().toISOString(),\n  expiresAt: new Date(Date.now() + 3600000).toISOString() // 1 hour expiry\n};\n\nstaticData[contextKey] = JSON.stringify(contextWithMetadata);\nstaticData['latest_context'] = contextKey;\n\nconsole.log('Context stored with key:', contextKey);\n\nreturn {\n  json: {\n    output: data.output,\n    contextStored: true,\n    contextKey: contextKey\n  }\n};"
      },
      "id": "45561660-6c4b-47f9-a85e-bec70cbc4297",
      "name": "Store Context in Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, -16]
    },
    {
      "parameters": {
        "jsCode": "// Format verification response with document details\nconst context = $('Build Complete Context').item.json;\nconst aiSummary = $input.item.json.output;\n\nconst formattedResponse = `\n✅ **Document Verified Successfully!**\n\n${aiSummary}\n\n📋 **Quick Details:**\n- 📄 Document: ${context.docName}\n- 📊 Pages: ${context.totalPages}\n- ✍️ Signer: ${context.signatoryName}\n- 🎯 Signature Fields: ${context.controlsToSign.length}\n\n**What would you like to do?**\n- Type \"sign this\" or \"please sign\" to proceed with automatic signing\n- Ask any questions about the document\n- I can sign this document for you using your saved signature\n`;\n\nreturn {\n  json: {\n    output: formattedResponse,\n    documentContext: context,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "0ed61dc3-d559-4456-80e0-7d125f484ec7",
      "name": "Format Verification Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, -16]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-2192, 880],
      "id": "496550fd-19a7-4f87-bde2-9313f0d65bba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// This is for signing links - prepare for verification\nconst data = $('Process AI Response').item.json;\nreturn { \n  json: { \n    output: `${data.aiResponse}\\n\\n🔍 **I see you've provided a signing link!** Let me verify this document and provide you with a summary...`,\n    originalMessage: data.originalMessage,\n    isSigningLink: true,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "04b82589-790e-4697-89be-46f489a9924f",
      "name": "Prepare Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1504, -16]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.isSigningLink }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "dc1d8a5a-2873-4f7e-b957-17d27376e344",
      "name": "IF Signing Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [-1760, 368]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [160, 256],
      "id": "d4718032-633f-4438-8b1e-717d925a26d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "muEYnjTB5ZYCmtYm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this document signing request and provide a brief summary:\n\n📄 **Document:** {{ $json.docName }}\n📊 **Total Pages:** {{ $json.totalPages }}\n✍️ **Signer:** {{ $json.signatoryName }} ({{ $json.signatoryEmail }})\n🎯 **Signature Fields:** {{ $json.controlsToSign.length }}\n\nPlease provide:\n1. A brief summary of what this document appears to be based on its name\n2. Key information about the signing requirements\n3. Any notable details about the document structure\n\nKeep it concise (2-3 sentences) and professional.",
        "options": {}
      },
      "id": "bfee643c-0eab-4455-a96e-ec4a13258261",
      "name": "AI Document Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [160, -16]
    },
    {
      "parameters": {
        "jsCode": "const controlsData = $input.item.json.response;\nconst prev = $('Store Pages Data').item.json;\n\nif (!controlsData || !Array.isArray(controlsData)) {\n  throw new Error('Controls data missing');\n}\n\nconst pendingSignatory = prev.registerData.signatories?.find(s => s.signStatus === 'Pending');\nif (!pendingSignatory) {\n  throw new Error('No pending signer found');\n}\n\nconst pendingControls = controlsData.filter(c => \n  c.email === pendingSignatory.email && \n  c.controlStatus === 'Pending' &&\n  c.isSignature\n);\n\nif (!pendingControls.length) {\n  throw new Error('No pending signature controls found');\n}\n\nconst documentContext = { \n  signAuth: prev.signAuth, \n  registerSignID: prev.registerData.registerSignID, \n  masterDocID: prev.registerData.primaryDocs[0].masterDocID, \n  docName: prev.registerData.primaryDocs[0].docName, \n  docPath: prev.registerData.primaryDocs[0].docPath, \n  totalPages: prev.pages.length, \n  signatoryID: pendingSignatory.signatoriesID, \n  signatoryName: pendingSignatory.name, \n  signatoryEmail: pendingSignatory.email, \n  signatureColor: pendingSignatory.signatureColor, \n  controlsToSign: pendingControls.map(c => ({\n    controlLocationID: c.controlLocationID, \n    pageNumber: c.pagesOrder, \n    pageName: c.pagesName, \n    positionX: c.controlLocationX, \n    positionY: c.controlLocationY, \n    width: c.width, \n    height: c.height \n  })), \n  pages: prev.pages.map(p => ({\n    pageID: p.masterDocPagesID, \n    pageName: p.pagesName, \n    pageOrder: p.pagesOrder, \n    pagePath: p.pagesPath \n  })), \n  initiatorEmail: prev.registerData.createdBy, \n  initiatorName: prev.registerData.createdByName \n};\n\nconsole.log('Document context built successfully');\nreturn { json: documentContext };"
      },
      "id": "869ef2c2-5e35-45b1-8f6e-ad9a800ad844",
      "name": "Build Complete Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, -16]
    },
    {
      "parameters": {
        "url": "=https://api-demo.iamsigner.com/v1.0/api/GetControlLocationVerification?MasterDocID={{ $json.masterDocID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7af462de-844a-48ba-bacd-dceea8764995",
      "name": "Get Control Locations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-256, -16]
    },
    {
      "parameters": {
        "jsCode": "const pagesData = $input.item.json.response;\nconst prev = $('Store Register Data').item.json;\n\nif (!pagesData || !Array.isArray(pagesData)) {\n  throw new Error('Pages data missing or invalid');\n}\n\nconsole.log('Pages data retrieved:', pagesData.length, 'pages');\nreturn { \n  json: { \n    ...prev, \n    pages: pagesData \n  } \n};"
      },
      "id": "0f6e14b2-6648-46be-85f1-53a7be8e52d2",
      "name": "Store Pages Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-464, -16]
    },
    {
      "parameters": {
        "url": "=https://api-demo.iamsigner.com/v1.0/api/GetMasterDocPagesVerification?MasterDocID={{ $json.masterDocID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6f3f3bd-8d33-435b-bb0b-b3c986ace9fe",
      "name": "Get Document Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-672, -16]
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.item.json;\nconst signAuth = $('Extract SignAuth from URL').item.json.signedDocKey;\nconst registerData = apiResponse.response || apiResponse;\n\nif (!registerData || !registerData.registerSignID || !registerData.primaryDocs?.length) {\n  throw new Error('Register data missing or incomplete');\n}\n\nconsole.log('Register data retrieved successfully');\nreturn { \n  json: { \n    signAuth, \n    registerData, \n    masterDocID: registerData.primaryDocs[0].masterDocID \n  } \n};"
      },
      "id": "3e8c826d-6918-4414-a135-fa92d7d1fae0",
      "name": "Store Register Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, -16]
    },
    {
      "parameters": {
        "url": "https://api-demo.iamsigner.com/v1.0/api/GetRegisterSignDataVerification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "SignAuth",
              "value": "={{ $json.signedDocKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95127f96-17e9-4300-bd98-5f2868c7c576",
      "name": "Get Register Sign Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1088, -16]
    },
    {
      "parameters": {
        "jsCode": "// Extract signedDocKey from the URL provided in chat\nconst decision = $('Prepare Verification').item.json;\n\nconst chatMessage = decision.originalMessage;\nconsole.log('Processing signing link:', chatMessage);\n\nconst urlPattern = /\\/SignNow\\/id\\/([^\\s\\/]+)/;\nconst match = chatMessage.match(urlPattern);\n\nif (!match || !match[1]) {\n  console.log('Invalid URL format');\n  throw new Error('Invalid URL format. Please provide a valid signing link.');\n}\n\nconst decodedKey = decodeURIComponent(match[1]);\nconsole.log('Extracted signedDocKey:', decodedKey);\n\nreturn { \n  json: { \n    signedDocKey: decodedKey, \n    originalUrl: chatMessage, \n    timestamp: new Date().toISOString(),\n    verificationStarted: true\n  } \n};"
      },
      "id": "3b1e2b46-06a3-4e5c-8973-5599f071692d",
      "name": "Extract SignAuth from URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1296, -16]
    },
    {
      "parameters": {
        "jsCode": "// This is for regular chat messages (NOT signing links or requests)\nconst data = $input.item.json;\n\n// If this is a signing link, don't output the AI response\n// Let the verification flow handle the output instead\nif (data.isSigningLink) {\n  return { json: {} }; // Return empty to skip chat output\n}\n\n// For regular messages, output the AI response\nreturn { \n  json: { \n    output: data.aiResponse,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "a7d32e39-fbd2-4316-9cc1-24378295c756",
      "name": "Format Regular Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1520, 528]
    },
    {
      "parameters": {
        "jsCode": "const messageData = $('Route Message Type').item.json;\nconst aiResponse = $input.item.json.output || 'Thank you for your message about IAmSigner.';\n\nreturn { \n  json: { \n    aiResponse: aiResponse,\n    isSigningLink: messageData.isSigningLink,\n    isSigningRequest: messageData.isSigningRequest,\n    originalMessage: messageData.message,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "31f309ac-ebfb-4b54-934e-156af88159a9",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1952, 464]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "179a1446-4578-4104-ab9b-f561a050ece7",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-2288, 736],
      "credentials": {
        "googlePalmApi": {
          "id": "muEYnjTB5ZYCmtYm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an IAmSigner E-Signature Assistant. IAmSigner is a secure electronic signature platform for document management and signing workflows.\n\n**Key Capabilities I Can Help With:**\n- Document signing (self-sign, bulk send, templates)\n- Document management (folders, status tracking)\n- Team collaboration & delegation\n- Integrations (APIs, webhooks)\n- Account settings & profile management\n- **Automated signing on your behalf**\n\n**Quick Answers For:**\n- How to upload/sign documents\n- Bulk sending to multiple recipients\n- Creating and using templates\n- Managing teams and permissions\n- Document status explanations\n- API integration setup\n\n**How I Can Sign For You:**\nIf you share a signing link and ask me to sign it, I can automatically sign documents using your saved signature. Just say:\n- \"Sign this for me\"\n- \"Please sign this document\"\n- \"Auto-sign this\"\n\n**Current Query:** \"{{ $json.message }}\"\n\n**Response Style:**\n- Keep answers brief but helpful\n- Focus on practical steps\n- If user shares a signing link, verify it first\n- If user asks to sign, confirm you'll handle it automatically\n- Offer more details if user asks follow-up questions",
        "options": {}
      },
      "id": "33719712-c748-4d11-8acd-ad49a9532587",
      "name": "IAmSigner Chat Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [-2288, 464]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "signature_upload",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "143cc9f7-d068-4b94-9474-b8cf61416f9b",
      "name": "IF Signature Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [-2288, -16]
    },
    {
      "parameters": {
        "jsCode": "const chatMessage = $input.item.json.chatInput || $input.item.json.input || '';\nconst files = $input.item.json.files || [];\n\n// Check if message contains a signing link\nconst urlPattern = /\\/SignNow\\/id\\/([^\\s\\/]+)/;\nconst isSigningLink = urlPattern.test(chatMessage);\n\n// Check for signature image upload\nconst hasSignatureImage = files.length > 0 && files[0].mimeType && files[0].mimeType.startsWith('image/');\n\n// Check for signing request keywords\nconst signingKeywords = ['sign this', 'sign it', 'sign document', 'sign for me', 'sign on behalf', 'please sign', 'auto sign'];\nconst isSigningRequest = signingKeywords.some(keyword => \n  chatMessage.toLowerCase().includes(keyword)\n);\n\n// Check for questions about IAmSigner\nconst iamSignerKeywords = ['iamsigner', 'signer', 'document', 'sign', 'esign', 'electronic signature', 'verify', 'how to', 'what is', 'help', 'feature', 'api'];\nconst isQuestion = iamSignerKeywords.some(keyword => \n  chatMessage.toLowerCase().includes(keyword)\n);\n\n// Check if it's a greeting\nconst greetings = ['hello', 'hi', 'hey', 'greetings'];\nconst isGreeting = greetings.some(greet => \n  chatMessage.toLowerCase().includes(greet)\n);\n\n// Determine message type priority: signing_request > signature_upload > signing_link > question\nlet messageType = 'question';\nif (hasSignatureImage) {\n  messageType = 'signature_upload';\n} else if (isSigningLink) {\n  messageType = 'signing_link';\n} else if (isSigningRequest) {\n  messageType = 'signing_request';\n}\n\nreturn { \n  json: { \n    message: chatMessage,\n    files: files,\n    messageType: messageType,\n    isSigningLink: isSigningLink,\n    hasSignatureImage: hasSignatureImage,\n    isQuestion: isQuestion,\n    isGreeting: isGreeting,\n    isSigningRequest: isSigningRequest,\n    requiresResponse: true,\n    timestamp: new Date().toISOString()\n  } \n};"
      },
      "id": "771a9c4e-9b9d-4426-b01e-c3452b4a80f1",
      "name": "Route Message Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2480, -16]
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "id": "612af6bc-ec5b-4de3-b044-12d1caf229e7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-2688, -16],
      "webhookId": "iamsigner-chat-trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Auto-Sign Response": {
      "main": [[]]
    },
    "Execute Auto-Sign": {
      "main": [
        [
          {
            "node": "Format Auto-Sign Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auto-Sign Payload": {
      "main": [
        [
          {
            "node": "Execute Auto-Sign",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Auto-Sign Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Saved Signature": {
      "main": [
        [
          {
            "node": "Build Auto-Sign Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Saved Signature": {
      "main": [
        [
          {
            "node": "Validate Saved Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Context from Memory": {
      "main": [
        [
          {
            "node": "Get Saved Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signing Request?": {
      "main": [
        [
          {
            "node": "Retrieve Context from Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Regular Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Verification Response": {
      "main": [
        [
          {
            "node": "Store Context in Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Verification": {
      "main": [
        [
          {
            "node": "Extract SignAuth from URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signing Link?": {
      "main": [
        [
          {
            "node": "Prepare Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Regular Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Document Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Summary": {
      "main": [
        [
          {
            "node": "Format Verification Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Complete Context": {
      "main": [
        [
          {
            "node": "AI Document Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Control Locations": {
      "main": [
        [
          {
            "node": "Build Complete Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Pages Data": {
      "main": [
        [
          {
            "node": "Get Control Locations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Pages": {
      "main": [
        [
          {
            "node": "Store Pages Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Register Data": {
      "main": [
        [
          {
            "node": "Get Document Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Register Sign Data": {
      "main": [
        [
          {
            "node": "Store Register Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SignAuth from URL": {
      "main": [
        [
          {
            "node": "Get Register Sign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "IF Signing Request?",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Signing Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IAmSigner Chat Agent": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Signature Upload?": {
      "main": [
        [],
        [
          {
            "node": "IAmSigner Chat Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "IF Signature Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56047203-6c49-4281-ada0-779f682ff4cc",
  "meta": {
    "instanceId": "1f3caa2acdb96364fa92196d2d0d7e9b4abf252f790f9b5b20603c776b614989"
  },
  "id": "gT6mJYQ8PkaoGOsK",
  "tags": []
}
